.navBar,
.navBarGap {
	height: 50px;
}

.navBar {
	position: fixed;
	z-index: 1;
	background-color: tan;
	width: 100%;
}

.h1test {
	color: green;
}
.navBar nav {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 15px 0;
}

.testNum {
	color: red;
	font-size: 2rem;
}
